# Database setup file
mongo-root

# Docker shared volumes
.docker/*
!.docker/mongodb/initdb.d/create-app-user.sh

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables
.env